@use "@/style/colors.scss" as colors;

$level-1: 0 3px 5px -5px colors.$darkblue-700;
$level-2: 0 3px 5px -5px colors.$darkblue-800;
$level-3: 0 3px 6px -3px colors.$darkblue-800;
$level-4: 0 3px 8px -3px colors.$darkblue-800;
$level-5: 0 3px 8px -1px colors.$darkblue-800;
$level-6: 0 3px 12px -1px colors.$darkblue-800;
$level-7: 0 3px 16px -1px colors.$darkblue-800;
